# Angular
node_modules/
dist/
.angular/

# .NET
bin/
obj/
*.csproj.user

# Visual Studio
.vs/

# VS Code
.vscode/

# Logs
*.log

# Environment
.env

# User Secrets
secrets.json
appsettings.Development.json

# OS
.DS_Store
Thumbs.db